<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meproduction.rentalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.PenyewaDetailActivity"
            android:label="Detail Penyewa"
            android:parentActivityName=".Activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity"/>
        </activity>

        <activity android:name=".Activity.SewaMobilActivity"
            android:label="Form Sewa Mobil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity"/>
        </activity>

        <activity android:name=".Activity.ListDetailActivity"
            android:label="Detail Kendaraan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity"/>
        </activity>

        <activity android:name=".Activity.PenyewaActivity"
            android:label="Daftar Pemesan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity"/>
        </activity>

        <activity
            android:name=".Activity.DaftarMobilActivity"
            android:label="Daftar Mobil"
            android:parentActivityName=".Activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity"/>
        </activity>

        <activity android:name=".Activity.DashboardActivity"></activity>
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>